<div class="category-filter filter-box">
  <p><strong>Category</strong></p>
  <p class="filter-options">
    <span class="filter-button">
      <%= link_to "All", tickets_path, class: "btn btn-default btn-sm" %>
    </span>
    <% @categories.each do |category| %>
    <span class="filter-button">
      <%= link_to category.name,
        tickets_path(category: category.name),
        class: "btn btn-default btn-sm" %>
    </span>

    <% end %>
  </p>
</div>
